{% set required_by = service.systemd_services | default([]) %}

[Unit]
Description=Restore dataset {{ dataset_name }}
Before={{ required_by | join(' ') }}

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/float/float-dataset-restore {{ dataset_tag }}

[Install]
RequiredBy={{ required_by | join(' ') }}
