upstream be_vpnweb {
  server vpnweb.{{ domain }}:{{ services['vpnweb'].public_endpoints[0].port }};
}

server {
  listen [::]:4430 ssl http2 ipv6only=off;
  
  server_name {{ api_uri }};
  include /etc/nginx/snippets/site-common.conf;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 5m;
  ssl_dhparam /etc/nginx/dhparam;
  ssl_certificate /etc/credentials/sspki/vpnweb/fullchain.crt;
  ssl_certificate_key /etc/credentials/sspki/vpnweb/private.key;

  location / {
          include /etc/nginx/snippets/block.conf;
          include /etc/nginx/snippets/proxy.conf;
          proxy_pass http://be_vpnweb;
          proxy_cache global;
  }
}
